body {
    background-color: rgb(196, 196, 196);
}

#selector {
    max-width: 90%;
    margin: auto;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}

.chartContainer {
    flex-grow: 1;
    background-color: rgb(235, 235, 235);
}

.oneAcross {
    width: 100%;
}

.twoAcross {
    width: 50%;
}

.threeAcross {
    width: 30%;
}

.maxButton {
    float: right
}

.closeButton {
    float: right
}

.title {
    font-size: 16pt;
    font-weight: bold;
}